    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                    <a href="@Url.Action("index", "Home")" class="navbar-brand">
                        <img src="~/img/logo2.png" id="logo" />
                    </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink("All Beers", "AllBeers", "Beer")</li>
                    <li>@Html.ActionLink("Breweries", "AllBrewerys", "Home")</li>
                    <li>@Html.ActionLink("Top Rated", "AllTopRated", "Beer")</li>
                    <li>@if (@Session["memberName"] != null) {@Html.ActionLink("Add New Beer", "AddBeer", "Beer")}</li>
                    <li>@Html.ActionLink("Search", "SearchPage", "Search")</li>
                    <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
                    <li>@Html.Partial("LoginRegister")</li> 
                </ul>
            </div>
        </div>
    </div>
